<!-- <main class="app-content"> -->
<div class="row">
  <div class="col-md-8">
    <div class="tile">
      <div class="tile-body">
        <iframe
          src="https://nim.doxy.me/signin"
          style="height:700px;width:100%"
        ></iframe>
      </div>
    </div>
    <app-signin></app-signin>
    <app-assesment-result></app-assesment-result>
  </div>
  <div class="col-md-4">
    <app-questionnaire></app-questionnaire>
    <app-assesment-result></app-assesment-result>
  </div>
</div>
<!-- </main> -->
