.btn {
  margin-left: 10px;
  margin: 5px;
}
.scrollable {
  max-height: 100vh;
  overflow-y: scroll;
}
.button-margin {
  margin-top: 10px;
}
.cbtn {
  margin-left: 10px;
  color: black;
}
.card {
  /* margin-top: 10px; */
  margin-bottom: 10px;
}
/* .row {
  border: 1px solid black;
} */
