<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <input
              type="search"
              placeholder="Patient Phone Number"
              #phoneNumber
              (keydown.enter)="getUserAssessment(phoneNumber)"
            />
          </div>
          <div class="col-md-6">
            <button class="" (click)="getUserAssessment(phoneNumber)">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- no search row -->

<!-- show button for new entry -->
<button class="btn btn-primary btn-large" *ngIf="assesments && searched">
  New assesment
</button>
<button
  class="btn btn-primary btn-large"
  *ngIf="showPrevious"
  (click)="onshowPrevious()"
>
  {{ showPreviousClick ? "New assessment" : "Previous assesment" }}
</button>
<app-loader *ngIf="searching"></app-loader>

<div class="scrollable">
  <app-questionnaire
    *ngIf="showbtnfillform && !showPreviousClick"
  ></app-questionnaire>

  <app-update-assesment
    *ngIf="showUpdateForm"
    [prevAssessment]="assesments[0]"
  ></app-update-assesment>

  <app-assesment-result
    *ngIf="showPrevious && showPreviousClick"
    [prevAssessment]="assesments"
  ></app-assesment-result>
</div>
